body{
	background-color: #f2f2f2;
	color: #555;
	-webkit-font-smoothing: antialiased;
	margin-top: 70px;
}
div{
	margin-top: 10px;
	margin-bottom:10px;
}
.form-group{
	position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
}